<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>about me</title>
  </head>


  <body>
    <h1>This site is all about me!</h1>
    <h3>Thank you for visiting my site <%= Time.new.strftime("at %I:%M%p on %m/%d/%Y") %></h3>
    <a href="/my_photography">My Photography</a> &nbsp;
    <a href="/my_translation">My Translation</a><br>

    <p>My name is Hiromi De Young. I am a Japanese girl, who was born in Kawasaki, Japan,
      a little more than 20 years ago. Yeah, just a little... I am a professional
      Photographer/Photo Editor with <a href="http://www.nakedlens.us" target="_blank">Naked Lens, LLC</a>,
      Lyrics Writer, Japanese/English Translator, Japanese Voice Talent, and currently learning HTML,
      CSS, Java Script, and Ruby on Rails at <a href="http://devpointlabs.com/" target="_blank">
      Devpoint Labs</a> in Salt Lake City, Utah.</p>

    <h3><b>Things I like:</b></h3>
    <p>Photo shooting, photoshopping, singing, meeting new people, learning new "good" things,
      chocolates, Evian Water, fresh and super high pulp orange juice,
      hummus, happy and fun movies, and finding new cool restaurants. </p>

    <h3><b>Things I dislike:</b></h3>
		<p>"Sushi" rolls with cream cheese, chicken feet, driving in a snow storm,
      cold pizza, whooping cough, tattoos(I don't mind other people have it. I just don't want it on me.),
      alcoholes and illegal drugs. </p><br>

    <h3><b>Follow me with SNS sites!</b></h3>

      <a href="https://github.com/rubiromi" target="_blank">Github</a>&nbsp;&nbsp;

      <a href="https://twitter.com/HiromiDeYoung" target="_blank">Twitter</a>&nbsp;&nbsp;

      <a href="https://www.facebook.com/pages/Naked-Lens-LLC/321639081271864" target="_blank">Facebook
      </a>&nbsp;&nbsp;

      <a href="https://www.linkedin.com/profile/view?id=95933576&trk=spm_pic" target="_blank">LinkedIn</a>
    <!-- <p>Follow me with SNS sites!</p>

      <a href="https://github.com/rubiromi" target="_blank">
        <img src="/images/github.png" alt="Github">
      </a>

      <a href="https://twitter.com/HiromiDeYoung" target="_blank">
        <img src="/images/twitter.png" alt="Twitter">
      </a>

      <a href="https://www.facebook.com/pages/Naked-Lens-LLC/321639081271864" target="_blank">
        <img src="/images/facebook.png" alt="Facebook">
      </a><br> -->
  </body>

</html>
