<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>my photography</title>
  </head>


  <body>
    <h1>My Photography</h1>

    <a href="http://nakedlens.us" target="_blank">Naked Lens, LLC</a> &nbsp;
    <a href="/">Back to HOME</a> &nbsp;
    <a href="/my_translation">My Translation</a><br>

    <p>I've been taking photos since I was three years old. My grandfather was a
    photographer, and he gave me a SLR for my first camera. He also gave me tons
    of films for free all the time. </p>

    <p><b>Naked Lens, LLC</b> captures lives from beginning to end.
      We take maternal photographs, births, birthdays, high school senior
      portraits, proms, graduations, missionary farewells and homecomings,
      engagements, weddings, parties, children, families, pets, anniversaries,
      moms in their kitchens, dads in their dens, retirements, and finally,
      funerals. We also take product pictures, and corporate event pictures.
      Don't stress the moments of your life you want visually recorded,
      we'll take care of it. We also specializes in touching up and editing
      existing photos to make your family look their best.</p>

    <h3><b>Follow me with SNS sites!</b></h3>

      <a href="https://github.com/rubiromi" target="_blank">Github</a>&nbsp;&nbsp;

      <a href="https://twitter.com/HiromiDeYoung" target="_blank">Twitter</a>&nbsp;&nbsp;

      <a href="https://www.facebook.com/pages/Naked-Lens-LLC/321639081271864" target="_blank">Facebook
      </a>&nbsp;&nbsp;

      <a href="https://www.linkedin.com/profile/view?id=95933576&trk=spm_pic" target="_blank">LinkedIn</a>

</body>

</html>
