<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>my translation</title>
  </head>


  <body>
    <h1>My Translation</h1>

    <a href="https://www.youtube.com/user/78thelement/videos" target="_blank">My Lyrics and Translations</a> &nbsp;
    <a href="/">Back to HOME</a> &nbsp;
    <a href="/my_photography">My Photography</a><br>

    <p>I wrote many lyrics, and here is one of my lyrics writing work.</p>

			<iframe width="420" height="315" src="http://www.youtube.com/embed/Z5lVnisgx0A" frameborder="0" allowfullscreen></iframe>

    <h3><b>Follow me with SNS sites!</b></h3>

      <a href="https://github.com/rubiromi" target="_blank">Github</a>&nbsp;&nbsp;

      <a href="https://twitter.com/HiromiDeYoung" target="_blank">Twitter</a>&nbsp;&nbsp;

      <a href="https://www.facebook.com/pages/Naked-Lens-LLC/321639081271864" target="_blank">Facebook
      </a>&nbsp;&nbsp;

      <a href="https://www.linkedin.com/profile/view?id=95933576&trk=spm_pic" target="_blank">LinkedIn</a>


  </body>

</html>
